table {
    border-collapse: collapse;
    display: flex;
  }
  
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100vh;
    overflow: none;
    background-color: rgba(0, 0, 0, 0.11);
  }
  
  .modal-content {
    background-color: #f3efef;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #a13434;
    width: 40%;
    height: 80%;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
 
/* 
//////////////////////////////////////////////////////////////////////////////// */

  .fila {
    display: flex;
    height: 90px;
    margin-top: 10px;
    /* border: 1px solid red; */
}
.fila-right {
    justify-content: flex-end;
}
.fila-left {
    justify-content: flex-start;
}
.fila-adulto {
    /* display: none; */
}
.fila-infante {
    /* display: none; */
}

.diente{
    width: 60px;
    margin-top: 30px;
    position: relative;
    padding: 0px;
    rotate: 45deg;
    /* background-color: blueviolet;
    border: 1px solid black; */
}

.diente .parte {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: white;
    border: 1px solid black;
    overflow: hidden;
}

.diente .parte:hover {
    background-color: rgb(51, 146, 153);
    cursor: pointer;
}

.parte-1 {
    z-index: 1;
    top: 0;
    left: 0;
    border-radius: 100% 0% 0% 0%;
}

.parte-2 {
    z-index: 2;
    top: 0;
    right: 0;
    border-radius: 0% 100% 0% 0%;
}

.parte-3 {
    z-index: 3;
    bottom: 0;
    left: 0;
    border-radius: 0% 0% 0% 100%;
}

.parte-4 {
    z-index: 4;
    bottom: 0;
    right: 0;
    border-radius: 0% 0% 100% 0%;
}

.parte-5 {
    z-index: 5;
    margin-top: 14px;
    margin-left: 14px;
    border-radius: 50%;
}

.parte-6 {
    z-index: 6;
    margin-top: -20px;
    margin-left: -20px;
    border: none !important;
    rotate: 315deg;
    text-align: center;
}

.cuadrantes {
    display: flex;
}
.cuadrante-1 {
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}
.cuadrante-2 {
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}
.cuadrante-3 {
    border-right: 2px solid black;
    border-top: 2px solid black;
}
.cuadrante-4 {
    border-left: 2px solid black;
    border-top: 2px solid black;
}